$container-width:1020px;
$header-height:88px;
.container{
	width:$container-width;
	margin:0 auto;
}
header{
	height:$header-height;
	position:relative;
	h1{
		width:164px;
		height:25px;
		font-size:16px;
		background:url(../image/logo.png) no-repeat left;
		background-size:100%;
		text-indent:-9999px;
		position:absolute;
		top:50%;
		margin-top:-12px;
		}
	ul{
		position:absolute;
		left:220px;
		top:50%;
		margin-top:-21px;
		li{
			float:left;
			font-size:14px;
			a{
				padding:15px;
			}
			a:hover{
				background:#333;
				color:#fff;
			}
		
		}
		.border{
			width:1px;
			height:12px;
			border-left:1px solid black;
			padding:0 ;
			margin-top:19px;
		}
	}
	.nav-right{
		
		position:absolute;
		right:0;
		top:50%;
		margin-top:-12px;
		img{
			padding:10px;
		}

		a:hover{
			background:#323232;
		}
	}	
}

section{
	margin:55px 0;
	height:260px;

	.left{
		width:425px;
		height:240px;
		border-right:1px solid #c0c0c0;

		h2{
			font-size:24px;
		}
		
		#p1{
			width:339px;
			height:38px;
			border:1px solid black;
			background:url(../image/img5.jpg) no-repeat 10px 10px;
			margin:30px 0 15px;
			input{
				height:36px;
				border:none;
				margin-left:42px;
				outline:none;
			}

		}
		#p2{
			width:339px;
			height:38px;
			border:1px solid black;
			background:url(../image/img6.jpg) no-repeat 10px 10px;

			input{
				border:none;
				width:216px;
				height:36px;
				margin-left:42px;
				outline:none;
			}

			span{
				font-size:13px;
				cursor:pointer;
				

			}

		}

		.login{
			width:342px;
			height:40px;
			background:#6031ba;
			text-align:center;
			line-height:40px;
			font-size:15px;
			color:#fff;
			margin-top:15px;
			
		}
		.login:hover{
			background:#2531ba;
		}
		.new{
			position:relative;
			left:284px;
			top:10px;
			font-size:12px;
			color:#6031ba;
		}

	}

	.right{
		margin-left:83px;

		h3{	
			height:40px;
			line-height:40px;
			font-size:15px;
		}
		#right-ul{
			font-size:12px;
			margin:17px 0 15px;
			width:340px;
			height:32px;
			border:1px solid black;
			border-bottom:none;
			li{
				float:left;
				width:55.8px;
				height:32px;
				line-height:32px;
				text-align:center;
				border-right:1px solid black;
				border-bottom:1px solid black;

			}
			.end{
				border-right:none;
			}
			li:hover{
				background:#333;
				color:#fff;
				cursor:pointer;
			}
			li.active{
				border-bottom:none;
				background:#fff;
				cursor:default;
				color:black;
			}
		}

		#right-ol{
			width:344px;
			height:150px;
			overflow:hidden;
		}
		ol li{
			width:344px;
			height:150px;
			display:none;
		}
		li.active{
			display:block;

		}
	}
}

.footer{
	margin-top:73px;
	height:457px;
	padding-top:54px;
	background:#333;
	.text{
		display:block;
		color:#fff;
		font-size:14px;
	}
	.msg{
		height:290px;
		margin:39px 0 49px;
		.left{
			width:190px;
			height:290px;
			color:#e8e8e8;
			font-size:13px;
			span{
				display:block;
			}
			.left-a{
				color:#e8e8e8;
			}
			.left-a:hover{
				color:#fff;
				text-decoration:underline;
			}
			.about{
				margin:44px 0 20px;
			}
			.erweima{
				height:76px;
				.left{
					width:62px;
					height:12px;
					background:url(../image/img3.jpg) no-repeat;
					font-size:13px;
					color:#969798;
					padding-top:65px;
					text-align:center;
				}
				.right{
					width:62px;
					height:12px;
					background:url(../image/weibo.jpg) no-repeat;
					background-size:100%;
					font-size:13px;
					color:#969798;
					padding-top:65px;
					text-align:center;
					margin-left:12px;
				}
			}


		}
		ul{
			width:700px;
			height:290px;
			li{
				width:175px;
				height:290px;
				float:left;
				.titl{
					font-size:14px;
					color:#fff;
					margin-bottom:18px;
				}
				.tit2{
					font-size:14px;
					color:#fff;
					margin:18px 0;
				}
				.tit3{
					font-size:14px;
					color:#fff;
					margin:38px 0 18px;
				}
				a{
					font-size:12px;
					color:#969798;
				}
				a:hover{
					color:#fff;
					text-decoration:underline;
				}

			}
		}
	}
	.bottom{
		height:56px;
		background:#2e2e2e;
		line-height:56px;
		color:#999;
		padding-left:250px;
		font-size:12px;
	}
	.qq{
		width:36px;
		height:36px;
		background:url(../image/qq.png) no-repeat;
		position:fixed;
		right:32px;
		bottom:71px;
	}

}